name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2

      - name: Check Formatting
        run: zig fmt --ast-check --check .

      - name: Build
        run: zig build --summary all

      - name: Test
        run: zig build test --summary all

      - name: Cross Compile
        if: matrix.os == 'ubuntu-latest'
        uses: |
          zig build -Dtarget=native-linux-gnu
          zig build -Dtarget=native-linux-musl
          zig build -Dtarget=native-freebsd
          zig build -Dtarget=native-netbsd
